<%- include ("../_partials/_header.ejs"); -%>
<%- include ("../_partials/_navbar.ejs"); -%>
<%- include ("../_partials/_alerts.ejs"); -%>

    <h1>Welcome to the <%=(currentUser.username ? currentUser.username : "User")%>!</h1>

<%- include ("../_partials/_footer.ejs"); -%>